
.header-container{
    background-color: white;
    width: 100%;
    position: fixed;
    text-align: center;
}

.link-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 60rem;
    min-width: 45rem;
    margin: auto;
}

a {
    text-decoration: none;
    border: solid 1px black;
    background-color: #45BCDC;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 4px 4px 8px white;
    margin: 1rem 0 1rem 0;
}

a:hover {
    color: white;
    background-color: gray;
}

a:active {
    color: lightgreen;
}
