.app {
  text-align: center;
  background-color: black;
}

.text {
  color: #45BCDC;
}

.header-text {
  padding-top: 5rem;
  color: #45BCDC;
  margin-left: 1rem;
}

.header-last-name-text {
  color: white;
}

.welcome-content {
  text-align: center;
}

.welcome-text {
  color: #45BCDC;
}
